# Data Scraping
telethon==1.28.1
requests==2.31.0

# Data Cleaning and Transformation
pandas==2.1.1
numpy==1.25.2
dbt-core==1.5.0
dbt-postgres==1.5.0
sqlalchemy==2.0.20

# Database
sqlalchemy==2.0.20
psycopg2==2.9.7

# Logging and Monitoring
loguru==0.7.0

# Utilities
python-dotenv==1.0.0
